@import url(../App.css);

* {
    box-sizing: border-box;
}

#sidebar {
    background-color: var(--sidebar-bg-color);

    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 18%;
    display: flex;

    font-family: 'DM Sans Light', sans-serif;
}

#sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
}

#sidebar-nav {
    display: flex;
    flex-direction: column;

    flex: 1;
    padding: 30px 10px 10px 10px;
    border-top: 0.3px solid var(--sidebar-body-color);
    border-bottom: 0.3px solid var(--sidebar-body-color);
}

#sidebar-dashboard {

}

#sidebar-calendar {

}

#sidebar-players {

}

#sidebar-drill-library {

}

#sidebar-load-tracking {

}

#sidebar-testing {

}

.sidebar-nav-btn-txt {
    color: var(--sidebar-body-color);
}

.sidebar-nav-btn {
    margin: 7px;
    height: 30px;
    border-radius: 7px;

    padding: 3px 3px 3px 10px;
}

.txt-btn {
    display: flex;
    justify-content: left;
    align-items: center;
}

#sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: relative;
}

#topbar {
    background-color: var(--topbar-bg-color);
    position: fixed;
    top: 0;
    left: 18%;

    border-bottom: 2px solid var(--topbar-accent-color);

    width: 100%;
    height: 70px;
}

#main-content {
    background-color: var(--main-bg-color);
    position:fixed;
    left: 18%;
    top: 70px;

    width: 100%;
    height: 100vh;
}