:root {
  --sidebar-bg-color: #1A1917;
  --sidebar-body-color: #FFFFFF80;
  --sidebar-subhead-color: #6B6760;

  --topbar-bg-color: #FFFFFF;
  --topbar-body-color: #000000;
  --topbar-accent-color: #EEECE9;

  --main-bg-color: #FAF9F7;
  --content-bg-color: #FFFFFF;
  --content-head-color: #000000;
  --content-subhead-color: #6B6760;
  --content-body-color: #000000;
  --content-input-border-color: #DDDBD6;
  --content-input-placeholder-color: #A09D96;

  --btn-color: #EC7842;
  --accent-color: #EC7842;

  --danger-bg-color: #FEE2E2;
  --danger-border-color: #FCA5A5;
  --danger-body-color: #DC2626;
}

@font-face {
  font-family: 'DM Sans Light';
  src: url(../fonts/DMSans-Light.ttf);
}

@font-face {
  font-family: 'DM Mono Light';
  src: url(../fonts/DMMono-Light.ttf);
}

@font-face {
  font-family: 'Bebas';
  src: url(../fonts/BebasNeue-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100%;
}

#layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#sidebar {
    background-color: var(--sidebar-bg-color);

    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 18%;
    display: flex;
    flex-shrink: 0;

    font-family: 'DM Sans Light', sans-serif;
}

#sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
}

#sidebar-nav {
    display: flex;
    flex-direction: column;

    flex: 1;
    padding: 30px 10px 10px 10px;
    border-top: 0.3px solid var(--sidebar-body-color);
    border-bottom: 0.3px solid var(--sidebar-body-color);
}

.sidebar-nav-btn-txt {
    color: var(--sidebar-body-color);
    opacity: 70%;
}

.sidebar-nav-btn {
    display: flex;
    align-items: center;
    margin: 7px;
    height: 40px;
    border-radius: 7px;
    padding: 3px 3px 3px 10px;

    text-align: left;

    cursor: pointer;
}

.sidebar-nav-btn:hover {
    background-color: black;
    transition: background-color 0.4s ease-out;
}

.sidebar-nav-btn.btn-active {
    background-color: var(--btn-color);
}

.sidebar-nav-btn.btn-active > span {
    opacity: 100%;
}

.txt-btn {
    display: flex;
    justify-content: left;
    align-items: center;
}

#sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: relative;
}

#topbar {
    background-color: var(--topbar-bg-color);

    border-bottom: 2px solid var(--topbar-accent-color);
    position: fixed;
    top: 0;
    left: 18%;
    width: 82%;
    height: 70px;
    flex-shrink: 0;
}

#main-content-wrapper {
  position: fixed;
  top: 70px;
  left: 18%;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#main-content {
    background-color: var(--main-bg-color);
    display: flex;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;

    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.content-box {
    background-color: var(--content-bg-color);
    border: 2px solid var(--topbar-accent-color);
    border-radius: 8px;
    min-height: 100px;
    padding: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: left;
}

.input-container-label {
  color: var(--content-subhead-color);
  text-align: left;
  width: 100%;
  font-family: 'DM Mono Light', sans-serif;
}

.input-box-wrapper {
  display: flex;
  justify-content: left;
}

.typing-textarea-box, .typing-input-box {
  text-align: left;
  font-family: 'DM Sans Light', sans-serif;
  background-color: white;
  
  border: 2px solid var(--content-input-border-color);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  color: var(--content-input-placeholder-color);
  font-size: small;
}

.typing-textarea-box {
  resize: none;
}

.content-header {
  color: var(--content-head-color);
  font-family: 'Bebas', sans-serif;
  text-align: left;
  padding: 10px;
}