@import url(../App.css);

/* CONTAINER */

@media (max-width: 768px) {
    #calendar-box {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        padding: 0;
        min-height: 0;
    }

    #calendar-container {
        overflow-y: visible;
        height: auto;
    }
}

.player-calendar-box {
    width: 100% !important;
    background-color: transparent !important;
    border: none !important;
    width: 100%;
}


.fc-view-harness {
    overflow: auto;
    min-height: 680;
}

.fc {
    font-family: 'DM Sans Light', sans-serif;
}

/* DAY TIME HEADERS */

.fc .fc-col-header-cell-cushion {
    color: black;
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
}

.fc .fc-timegrid-slot-label-cushion {
    color: black;
    font-family: 'Bebas', sans-serif;
    font-size: 16px;
}

/* CURRENT DAY HIGHLIGHT */

.fc .fc-day-today {
    background-color: color-mix(in srgb, var(--accent-color), transparent 40%) !important;
}

/* HEADER TOOLBAR */

.fc .fc-header-toolbar {
    margin-bottom: 10px !important;
}

.fc .fc-button {
    background-color: white;
    border: 2px solid var(--content-input-border-color);
    color: var(--content-subhead-color);

    font-family: 'DM Mono Light', sans-serif;
    text-transform: capitalize;

    font-size: 15px;
}

.fc .fc-button:focus,
.fc .fc-button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.fc .fc-today-button {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-dark) !important;
    color: white !important;
}

.fc .fc-button:hover {
    background-color: var(--content-input-border-color);
    border-color: var(--content-input-border-color);
    color: white;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: var(--accent-color);
    border-color: var(--accent-dark);
    color: white;
}


/* DAY GRID DAY NUMBER */

.fc .fc-daygrid-day-number {
    color: black;
    font-family: 'Bebas', sans-serif;
    font-size: 15px;
}

.fc .fc-daygrid-event .fc-event-title {
    font-size: 11px;
}

.fc .fc-daygrid-event .fc-event-time {
    display: none !important;
}

/* EVENT*/

.fc-timegrid-event {
    box-shadow: none !important;
}

.fc-v-event {
    background-color: var(--accent-dark);
}

.fc-event {
    padding: 0 3px 0 3px;
    border: 2px solid white;
    overflow: hidden;
}

.fc-event:hover {
    border-color: black;
    transition: border-color 0.2s ease-in-out;
}

.fc-event-title {
    font-family: 'DM Sans Light', sans-serif;
    color: var(--content-body-color);
    font-size: 12px !important;
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 0;       
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fc-event-time {
    border-bottom: 1px solid black;
    font-family: 'DM Sans Light', sans-serif;
    color: black;
    font-size: 10px !important;
}

.short-event .fc-event-time {
    display: none !important;
}

.selected-session {
    border: 2px solid #EC7842 !important;
    background-color: var(--accent-color);
    transition: border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}