@import url(../App.css);

#calendar-box {
    width: 80%;
}

.editor-box {
    width: 20%;
}

#session-editor, #drill-library {
    display: none;
}

#calendar-date {
    color: var(--content-head-color);
    font-family: 'Bebas';
    text-align: left;
    padding: 10px;
}

#session-people {
    width: 100%;
    height: 220px;
  background-color: white;
  
  border: 2px solid var(--content-input-border-color);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  overflow-y: auto;
}