/* PAGE */
.dashboardPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* HEADER */
.dashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardTitle {
    font-family: 'Bebas', sans-serif;
    font-size: 42px;
    color: var(--content-head-color);
    margin: 0;
    letter-spacing: 1px;
}

.dashboardLabel {
    font-family: 'DM Mono Light', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--content-subhead-color);
    margin-bottom: 4px;
}

/* SELECT */
.playerSelect {
    border: 2px solid var(--content-input-border-color);
    background-color: white;
    border-radius: 8px;
    padding: 10px 14px;
    font-family: 'DM Sans Light', sans-serif;
    color: var(--content-body-color);
    outline: none;
}

/* MAIN GRID */
.dashboardGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* CONTENT BOX */
.chartBox {
    background-color: var(--content-bg-color);
    border: 2px solid var(--topbar-accent-color);
    border-radius: 8px;
    padding: 20px;
}

/* SECTION */
.sectionHeader {
    margin-bottom: 15px;
}

.sectionHeader h3 {
    font-family: 'Bebas', sans-serif;
    font-size: 28px;
    color: var(--content-head-color);
    margin: 0;
    letter-spacing: 1px;
}

/* SESSION LIST */
.sessionList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sessionItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    padding: 14px;
    gap: 14px;
    border: 2px solid var(--topbar-accent-color);
    background-color: var(--main-bg-color);
}

.sessionItem:hover {
    background-color: white;
    transform: translateY(-1px);
    border-color: var(--accent-color);
    background: var(--main-bg-color);
}

/* SESSION LEFT */
.sessionMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.sessionClient {
    font-family: 'Bebas', sans-serif;
    font-size: 24px;
    color: var(--content-head-color);
    margin: 0 0 10px 0;
}

.sessionName {
    font-family: 'DM Mono Light', sans-serif;
    font-size: 11px;
    color: var(--content-subhead-color);
    margin: 0;
    line-height: 1.5;
}

.sessionName.completed {
    color: #15803d;
    font-style: italic;
}

.sessionName.upcoming {
    color: var(--accent-color);
    font-style: italic;
}

.sessionInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    font-family: 'DM Mono Light', sans-serif;
    font-size: 11px;
    color: var(--content-subhead-color);
}

.sessionTime {
    min-width: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--topbar-accent-color);
    padding-right: 12px;
}

.timeMain {
    font-family: 'Bebas', sans-serif;
    color: var(--content-subhead-color);
    font-size: 45px;
    line-height: 1;
}

.sessionDetailCard {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--topbar-accent-color);
    background: var(--main-bg-color);
}

.sessionDetailCard:hover {
    background-color: white;
    transform: translateY(-1px);
    border-color: var(--accent-color);
    background: var(--main-bg-color);
}

.sessionContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sessionContent h3 {
    margin: 0 0 10px 0;
    font-family: 'Bebas', sans-serif;
    color: var(--content-subhead-color);
    font-size: 25px;
}

.sessionContent p {
    margin: 0;
    line-height: 1.5;
    font-family: 'DM Mono Light', sans-serif;
    color: var(--content-subhead-color);
    font-size: 12px;
}

.sessionNotes {
    text-align: left;
    width: 100%;
}

.playerSessionHighlight {
    font-family: 'DM Sans Light', sans-serif;
    font-size: 14px;
    color: var(--content-body-color);
    line-height: 1.8;
}

.tagList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.positiveTag,
.warningTag {
    padding: 10px 12px;
    border-radius: 8px;
    font-family: 'DM Sans Light', sans-serif;
    font-size: 13px;
}

.positiveTag {
    background-color: var(--main-bg-color);
    border: 1px solid #15803d;
    color: #15803d;
}

.warningTag {
    background-color: var(--main-bg-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.updateBoard {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.updateItem {
    border: 2px solid var(--topbar-accent-color);
    background-color: var(--main-bg-color);
    border-radius: 8px;
    padding: 14px;
}

.updateType {
    font-family: 'DM Mono Light', sans-serif;
    font-size: 11px;
    color: var(--accent-color);
    margin: 0 0 6px 0;
}

.updateMessage {
    font-family: 'DM Sans Light', sans-serif;
    font-size: 13px;
    color: var(--content-body-color);
    margin: 0 0 8px 0;
}

.updateTime {
    font-family: 'DM Mono Light', sans-serif;
    font-size: 11px;
    color: var(--content-subhead-color);
}

/* INTENSITY CARD */
.intensityCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding: 10px;
}

.intensityCard {
    min-height: 145px;
    border: 2px solid var(--topbar-accent-color);
    border-radius: 12px;
    padding: 18px;
    background: var(--main-bg-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intensityCard h2 {
    font-family: 'Bebas', sans-serif;
    font-size: 52px;
    margin: 6px 0;
    line-height: 1;
    color: var(--content-head-color);
}

.intensityCard span {
    font-family: 'DM Sans Light', sans-serif;
    font-size: 13px;
    color: var(--content-subhead-color);
}

.intensityCard.easy {
    background: #ecfdf5;
}

.intensityCard.medium {
    background: #fff7ed;
}

.intensityCard.hard {
    background: #fff1f2;
}

/* GRAPH TOOL TIP */
.customTooltip {
    background: white;
    border-radius: 12px;
    padding: 12px 14px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    font-family: 'DM Sans Light', sans-serif;
    font-size: 13px;
    color: var(--content-body-color);
}

.customTooltip p {
    margin: 4px 0;
}

/* WEEK CONTROLS */
.weekControls {
    gap: 6px;
    align-items: center;
    margin-bottom: 12px;
}

.weekButton {
    padding: 6px 14px;
    border-radius: 100px;
    border: 2px solid var(--content-input-border-color);
    background: var(--content-bg-color);
    color: var(--content-subhead-color);

    font-family: 'DM Mono Light', sans-serif;
    font-size: 11px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.weekButton:hover {
    border-color: var(--accent-color);
}

.weekButton.active {
    border-color: var(--accent-color);
    background: var(--accent-color);
    color: white;
}

.targetInputBox {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 12px;
}

.targetInputBox input {
    width: 120px;
    padding: 6px 10px;
    border: 2px solid var(--content-input-border-color);
    border-radius: 100px;
    text-align: center;
}

/* RESPONSIVE - MOBILE LAYOUT */

/* Mobile */
@media (max-width: 768px) {
    .dashboardGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .leftColumn,
    .rightColumn {
        width: 100%;
        min-width: 0;
        gap: 10px;
        align-items: center;
    }

    .coachDashboardPage .rightColumn {
        order: 1;
    }

    .coachDashboardPage .leftColumn {
        order: 2;
    }

    .chartBox {
        width: 100%;
        max-width: 100%;
        gap: 10px;
        padding: 15px;
    }

    .sessionDetailCard {
        grid-template-columns: 1fr 1fr;
    }

}