@import url(../App.css);

.user-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 10px 0;
}

.user-list li {
    cursor: pointer;
    padding: 6px;

    border-radius: 8px;
  border: 2px solid transparent;

  color: var(--content-body-color);
  font-family: 'DM Sans Light', sans-serif;
  text-align: left;
  font-size: small;

  transition: background-color 0.2s ease-in-out;
}

.user-list li:hover:not(.active) {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}

.user-list li.active {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

#user-filter-container {
    width: 100%;
}

#user-filter-container > div {
    border: none;
}

#user-filter-container > #users-filter-btn {
    margin: 0;
    gap: 6px;
}

button.active {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--sidebar-body-color);
}

.user-filter-btn {
    padding: 6px;
}

.session-details-container {
    width: 100%;
    height: 100%;
    background-color: #00000050;
    position: absolute;
    z-index: 99;
    margin: -20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    animation: calendar-entry-fade 0.3s ease-in;
    backdrop-filter: blur(4px);
}

.session-details {
    width: 70%;
    height: 80%;

    grid-template-areas: 
        'session-details-top-left session-details-top-left session-details-top-right'
        'session-details-middle-left session-details-middle-middle session-details-middle-right';

    grid-template-columns: 15% 35% 50%;
    grid-template-rows: 10% 90%;
    display: grid;

    background-color: white;
    border: 2px solid var(--content-input-border-color);
    border-radius: 8px;

    padding: 10px;
}

.session-details-header {
    font-family: 'Bebas', sans-serif;
    color: var(--content-head-color);
    margin: 0;
}

.session-details-top-left {
    grid-area: session-details-top-left;
    display: flex;
    justify-content: left;
    align-items: center;
}

.session-details-top-right {
    grid-area: session-details-top-right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.session-details-middle-left {
    grid-area: session-details-middle-left;
    display: flex;
    flex-direction: column;
}

.session-details-middle-middle {
    grid-area: session-details-middle-middle;
    display: flex;
}

.session-details-middle-right {
    grid-area: session-details-middle-right;
    display: flex;
}

.session-details-bottom-left {
    grid-area: session-details-bottom-left;
    display: flex;
    justify-content: left;
    align-items: center;
}

.session-details-bottom-middle {
    grid-area: session-details-bottom-middle;
}

.session-details-bottom-right {
    grid-area: session-details-bottom-right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.session-details-drills-container,
.session-details-people-container,
.mobile-session-details-drills-container, 
.mobile-session-details-people-container {
    width: 100%;
}


.session-details-drills, 
.session-details-people,
.mobile-session-details-drills, 
.mobile-session-details-people {
    overflow-y: auto !important;
    background-color: white;
    border-radius: 8px;
    border: 2px solid var(--content-input-border-color);
    padding: 10px;
}

.session-details-drills, 
.session-details-people {
    height: 100%;
}

.session-details-drills span {
    font-family: 'DM Mono Light', sans-serif;
    font-size: 14px;
}

.session-details-drills > * > div {
    margin-bottom: 10px;
}

.session-details .input-box-wrapper,
.mobile-session-details .input-box-wrapper {
    border: 2px solid var(--content-input-border-color);
    border-radius: 8px;
    padding: 5px;
    font-family: 'DM Mono Light', sans-serif;
    font-size: small;
}

.session-details-people ul,
.mobile-session-details-people ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.session-details-people li,
.mobile-session-details-people li {
    font-family: 'DM Sans Light', sans-serif;
    font-size: small;
    color: black;
    margin-bottom: 10px;
}

.session-details-people div,
.mobile-session-details-people div,
#users-list .users-role-title {
    width: 100%;
    border-bottom: 1px solid var(--content-input-border-color);
    font-family: 'DM Mono Light', sans-serif;
    font-size: small;
    text-align: left;
}

.users-role-title {
    margin: 10px 0 10px 0;
}

#users-list-container {
    width: 100%;
}

#users-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#user-selector {
    min-height: 750px;
    overflow-y: auto;

    animation: entry-fade 0.3s ease-in;
}

.mobile-session-details-container {
    width: 100%;
    height: 100%;
    background-color: #00000050;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(4px);

    animation: calendar-entry-fade 0.3s ease-in;
}

.mobile-session-details {
    width: 95%;
    height: 85%;
    background-color: white;
    border: 2px solid var(--content-input-border-color);
    border-radius: 8px;
    padding: 5px;
    overflow-y: auto;
}

.mobile-session-details-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.session-details-name {
    height: auto;
    text-wrap: auto;
    text-align: left;
    overflow-y: auto;
    max-height: 170px;
}

.session-details-notes {
    height: 100%;
    text-wrap: auto;
    text-align: left;
    overflow-y: auto;
}

#calendar-date-container {
    justify-content: space-between;
}

#calendar-date-container span {
    font-family: 'DM Mono Light', sans-serif;
    font-size: 12px;
}

.user-selector-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-selector-top button {
    height: 30px;
}

#collapsed-users {
    background: white;
    border: 2px solid var(--content-input-border-color);
    border-radius: 8px;
    padding: 5px;
    
    animation: entry-fade 0.3s ease-in;
}

#collapsed-users .user-list {
    padding: 0 5px 0 5px;
}

@keyframes entry-fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    #user-selector, #collapsed-users {
        height:min-content;
        min-height: auto;
        overflow-y: visible;
    }
}

.mobile-session-details .input-container .input-box-wrapper,
.session-details-middle-left .input-container .input-box-wrapper {
    font-family: 'DM Sans Light', sans-serif;
    color: black;
    font-size: small;
}

.session-details-drills span {
    color: black;
    font-family: 'DM Sans Light', sans-serif;
}