/* Player Profile Page CSS */

.playerProfilePage {
    width: 2000px;
    display: block;

}

.playerNameSection {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;

    .profile-image {
        img {
            height: 200px;
            width: auto;
            border-radius: 50%;
            object-fit: cover;
        }
    }



    .listOfButtons {
        li {
            display: block;
            padding: 10px;

            btn {
                font-family: var(--sans);
                background-color: #f4f3ec;
                border: none;
                padding: 7px;

                &:hover {
                    background-color: #deddd6;
                    cursor: pointer;

                }
            }
        }

    }
}

.feedbackAndStats {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;

    .content-box {
        height: 250px;

        li {
            display: block;
        }
    }
}

.injuriesAndGraphs {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;

    .content-box {
        height: 250px;

    }

}

.graphs {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;


    .content-box {
        height: 700px;

        .graph {
            padding: 25px;
            justify-items: center;

        }

    }
}

#player-list-filter {
    width: 100%;
    height: 50px;
}

#player-profile-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#player-profile-main {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.player-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.player-card {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 2px solid var(--content-input-border-color);
    border-radius: 8px;
}

.player-card-name {
    font-size: 12px;
    font-family: 'DM Sans Light', sans-serif;
    color: black;
}

#player-strength-weakness {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.strength-weakness-box {
    width: 50%;
    background-color: var(--content-bg-color);
    border: 2px solid var(--topbar-accent-color);
    border-radius: 8px;
    padding: 20px;
}

.strength-weakness-box .content-header {
    padding: 0;
}

.positiveTag,
.warningTag {
    padding: 10px 12px;
    border-radius: 8px;
    font-family: 'DM Sans Light', sans-serif;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.positiveTag .drill-btn-ghost:hover {
    border-color: #166534;
    background-color: transparent;
}

.warningTag .drill-btn-ghost:hover {
    border-color: #9a3412;
    background-color: transparent;
}

.strength-weakness-box .top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#player-details-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#player-details-back {
    justify-content: left;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--topbar-accent-color);
}

#player-details-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    align-items: center;
}

#player-details-name {
    font-family: 'DM Sans Light', sans-serif;
    color: black;
    font-size: 15px;
}

@media (max-width: 768px) {
    #player-strength-weakness {
        flex-direction: column;
    }

    .strength-weakness-box {
        width: 100%;
    }
}